@{
    var title = "Burraco";
}
<html>
    <head>
        <title>@title</title>
    </head>
    <body>
        <h1>@title</h1>
        <p id="fillthis">TBD</p>

        <script src="~/Source/lib.js"></script>
        <script src="~/Source/app.js"></script>

    </body>
</html>